/* ------------------------- */
/* --------- popup --------- */
/* ------------------------- */

.popup-wrapper {
    position: fixed;

    top: 0;
    left: 0;
    z-index: 4;

    width: 100%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: #00000066;
}

.popup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    position: relative;

    max-width: 960px;
    width: 100%;

    padding-bottom: 40px;

    /* background-color: white; */
    background-color: #EAE9EB;
}

.popup__heading {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1em;

    margin-bottom: 1.5em;

    font-size: 22px;
    text-transform: uppercase;
    color: white;
    background-color: #63536C;
}

.popup__close {
    width: 22px;
    height: 22px;

    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1424 0.585716C16.9235 -0.195192 18.1896 -0.195285 18.9706 0.585716L21.0916 2.70681C21.8727 3.48786 21.8727 4.75486 21.0916 5.53591L15.7879 10.8386L21.0916 16.1424C21.8726 16.9234 21.8727 18.1894 21.0916 18.9705L18.9706 21.0916C18.1895 21.8726 16.9235 21.8726 16.1424 21.0916L10.8387 15.7879L5.53598 21.0916C4.75493 21.8726 3.48793 21.8726 2.70688 21.0916L0.585786 18.9705C-0.195212 18.1895 -0.195111 16.9234 0.585786 16.1424L5.88852 10.8386L0.585786 5.53591C-0.195262 4.75486 -0.195262 3.48786 0.585786 2.70681L2.70688 0.585716C3.48785 -0.195251 4.75394 -0.195088 5.53501 0.585716L10.8387 5.88943L16.1424 0.585716Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.popup__label {
    width: var(--form-item-width);

    color: gray;
    font-size: 14px;
}

.popup__input {
    width: var(--form-item-width);

    margin-bottom: 10px;

    background-color: white;

    border-radius: 0;
    border: 2px solid gray;
    padding: 0.5em;
}
.popup__input:placeholder {
    color: gray;
}
.popup__input:focus-visible {
    outline: none;
    border: 2px solid black;
}

.popup__label,
.popup__input {
    width: min(calc(100% - 20px), 750px);
    
    margin-right: auto;
    margin-left: auto;
}

.popup__input_textarea {
    resize: none;
    min-height: 150px;
    /* width: 100%; */
    field-sizing: content;

    font-family: Arial, Helvetica, sans-serif;

    /* padding: 20px; */
    /* font-size: 13px; */
    /* margin: 5px 0 23px; */
}

.popup__btn {
    background-color: white;
    color: black;
    
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;

    border: none;
    cursor: pointer;

    align-self: center;
}

.popup__btn_submit {
    background-color: #16A6AF;
    color: white;
}

.popup__btn-wrapper {
    margin: 2em auto 0;

    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup__cmbx {
    position: relative;

    padding: 0;
}

.popup__cmbx:has(.popup__cmbx-input:focus) {
    border-color: black;
}

.popup__cmbx-input {
    border: none;
    outline: none;


    padding: 0.5em;
    width: 100%;
}

.popup__cmbx-arrow {
    /* content: "▼"; */
    
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    aspect-ratio: 1;

    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0001 18.8151L12.0576 14.0001L11.0001 15.0651L17.0001 21.0651L23.0001 15.0651L21.9426 14.0076L17.0001 18.8151Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    pointer-events: none; /* Prevent arrow from blocking input clicks */

    visibility: hidden;
}

.popup__cmbx-input:hover ~ .popup__cmbx-arrow,
.popup__cmbx-input:focus ~ .popup__cmbx-arrow {
    visibility: initial;
}

.popup__time {
    display: flex;

    padding: 0;
}

.popup__time:has(.popup__time-input:focus) {
    border-color: black;
}

.popup__time-input {
    border: none;
    outline: none;

    padding: 0.5em;

    width: 1.6em;

    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Chrome, Safari */
    appearance: none;
    /* Standard */
}

.popup__clock-image {
    /* height: 100%; */
    height: 2em;
    aspect-ratio: 1;

    margin-left: auto;

    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 12C18.5913 12 20.117 12.6326 21.2422 13.7578C22.3674 14.883 23 16.4087 23 18C23 19.5913 22.3674 21.117 21.2422 22.2422C20.117 23.3674 18.5913 24 17 24C15.4087 24 13.883 23.3674 12.7578 22.2422C11.6326 21.117 11 19.5913 11 18C11 16.4087 11.6326 14.883 12.7578 13.7578C13.883 12.6326 15.4087 12 17 12ZM17 12.75C15.6076 12.75 14.2727 13.3035 13.2881 14.2881C12.3035 15.2727 11.75 16.6076 11.75 18C11.75 19.3924 12.3035 20.7273 13.2881 21.7119C14.2727 22.6965 15.6076 23.25 17 23.25C18.3924 23.25 19.7273 22.6965 20.7119 21.7119C21.6965 20.7273 22.25 19.3924 22.25 18C22.25 16.6076 21.6965 15.2727 20.7119 14.2881C19.7273 13.3035 18.3924 12.75 17 12.75ZM16.625 14.25C16.7245 14.25 16.8203 14.289 16.8906 14.3594C16.961 14.4297 17 14.5255 17 14.625V18.5322L19.4355 19.9248C19.5194 19.9754 19.5808 20.0566 19.6055 20.1514C19.63 20.246 19.6168 20.3467 19.5684 20.4316C19.5198 20.5165 19.4397 20.5795 19.3457 20.6064C19.2516 20.6333 19.1505 20.6216 19.0645 20.5752L16.4395 19.0752C16.3821 19.0425 16.334 18.9955 16.3008 18.9385C16.2676 18.8813 16.25 18.8161 16.25 18.75V14.625C16.25 14.5255 16.289 14.4297 16.3594 14.3594C16.4297 14.289 16.5255 14.25 16.625 14.25Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#hoursInput {
    padding-right: 0;
}
#minutesInput {
    padding-left: 0;
}

.popup__time-devider {
    padding: 0.5em 0;
}

.popup__time-input:focus {
    outline: none;
}

/* Optional: Style the input */
.popup__time-input::-webkit-inner-spin-button,
.popup__time-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}