/* ------------------------- */
/* --------- popup --------- */
/* ------------------------- */

.popup-wrapper {
    position: fixed;

    width: 100vw;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-color: #00000066;
}

.popup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    position: relative;

    max-width: 960px;
    width: 100%;

    padding-bottom: 40px;

    background-color: white;
}

.popup__heading {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1em;

    margin-bottom: 1.5em;

    font-size: 22px;
    text-transform: uppercase;
    color: white;
    background-color: #63536C;
}

.popup__close {
    width: 22px;
    height: 22px;

    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1424 0.585716C16.9235 -0.195192 18.1896 -0.195285 18.9706 0.585716L21.0916 2.70681C21.8727 3.48786 21.8727 4.75486 21.0916 5.53591L15.7879 10.8386L21.0916 16.1424C21.8726 16.9234 21.8727 18.1894 21.0916 18.9705L18.9706 21.0916C18.1895 21.8726 16.9235 21.8726 16.1424 21.0916L10.8387 15.7879L5.53598 21.0916C4.75493 21.8726 3.48793 21.8726 2.70688 21.0916L0.585786 18.9705C-0.195212 18.1895 -0.195111 16.9234 0.585786 16.1424L5.88852 10.8386L0.585786 5.53591C-0.195262 4.75486 -0.195262 3.48786 0.585786 2.70681L2.70688 0.585716C3.48785 -0.195251 4.75394 -0.195088 5.53501 0.585716L10.8387 5.88943L16.1424 0.585716Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.popup__label {
    width: var(--form-item-width);

    color: gray;
    font-size: 14px;
}

.popup__input {
    width: var(--form-item-width);

    margin-bottom: 10px;
}

.popup__input {
    border-radius: 0;
    border: 2px solid gray;
    padding: 0.5em;
}
.popup__input:placeholder {
    color: gray;
}
.popup__input:focus-visible {
    outline: none;
    border: 2px solid black;
}

.popup__label,
.popup__input {
    width: min(calc(100% - 20px), 750px);
    
    margin-right: auto;
    margin-left: auto;
}

.popup__submit-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;

    border: none;
    cursor: pointer;

    align-self: center;
}

.popup__submit-btn {
    margin-top: 2em;
}