.tab {
    --s: 1.6;
    --circle-size: calc(var(--s) * 1em);
    --line-width: 0.2em;
    --heading-padding-left: 1.5em;
    --circle-border-width: calc(var(--circle-size) / 9);
    --line-left: calc(var(--heading-padding-left) + var(--circle-size) / 2 * var(--s) - var(--line-width) / 2);

    --content-row: 1fr;

    --transition-mode: 0.6s ease;
    --line-col: #BC95D6;


    overflow: hidden;

    position: relative;

    display: grid;
    grid-template-rows: auto var(--content-row);

    transition: grid-template-rows var(--transition-mode);

    background-color: #ffffffe6;
}

.tab:before {
    content: "";

    position: absolute;
    top: 0;
    left: var(--line-left);
    z-index: 1;

    height: 100%;
    width: var(--line-width);

    background-color: var(--line-col);
}

.tab:last-of-type:before {
    display: none;
}

.tab__heading {
    background-color: #63536C;
    display: flex;
    align-items: center;

    height: fit-content;

    padding: 1.5em;
    padding-left: var(--heading-padding-left);

    position: relative;
    z-index: 3;
}

.tab__heading:before,
.tab__heading:after {
    content: "";

    position: absolute;
    left: var(--line-left);
    top: 50%;
    z-index: 2;

    height: 50%;
    width: var(--line-width);

    background-color: var(--line-col);
}

.tab__heading:before {
    top: 0;
}

.tab:first-of-type .tab__heading:before,
.tab:last-of-type .tab__heading:after {
    display: none;
}

@media(max-width: 390px) {
    .header__top {
        justify-content: center;
    }
    
    .tab {
        --s: 1.1;
        --circle-border-width: calc(var(--circle-size) / 5);
        --line-left: 0;
    }

    .tab__heading {
        padding: 1em;
    }
    
    .tab:before,
    .tab__heading:before,
    .tab__heading:after {
        display: none;
    }
}

.tab__title {
    position: relative;
    
    margin: 0 15px;

    line-height: 1;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
}

.tab__heading-marker {
    content: "";
    
    box-sizing: border-box;
    z-index: 5;
    
    display: inline-block;
    width: var(--circle-size);
    height: var(--circle-size);
    
    left: 0;
    
    background-color: white;
    border: var(--circle-border-width) solid var(--line-col);
    border-radius: 50%;
    
    font-size: var(--circle-size);
}

.tab__content-toggle {
    display: none;
}

.tab__toggle-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    aspect-ratio: 1;

    margin-left: auto;

    --angle: 0deg;
    transform: rotate(var(--angle));
    transition: transform var(--transition-mode);

    cursor: pointer;
}

.tab__toggle-arrow:before {
    content: "";

    border: solid white;
    border-width: 0 5px 5px 0;

    display: inline-block;
    padding: calc(var(--circle-size) / 4);

    transform: translateY(-4px) rotate(45deg);

    color: white;
}

.tab__content-toggle:checked+.tab__toggle-arrow {
    --angle: -180deg;
}

.tab__content {
    padding: 20px;
    margin-left: var(--line-left);

    /*   ?????? */
    /*   works with non-adaptive, hardcoded heading row */
    /*   align-self: start; */
    
    /*   works with auto-sized heading row */
    align-self: end;
    /*   ?????? */

    transition: padding-top var(--transition-mode), padding-bottom var(--transition-mode);
    overflow: hidden;
}

.tab:has(.tab__content-toggle:checked) {
    --content-row: 0fr;

    .tab__content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}