.hall-config {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hall-config__control-text {
    display: inline-block;
    margin-bottom: 5px;
}

.hall-config__control-text:nth-of-type(n + 2) {
    margin-top: 35px;
}

.hall-config__control-text:after {
    content: ":";
}

.hall-config__hall-selector {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-auto-rows: auto;
    gap: 10px;
}

.hall-config__hall {
    text-transform: uppercase;
    text-align: center;
    color: black;

    background-color: #eeeeee;

    padding: 10px 20px;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;

    cursor: pointer;
}

.hall-config__hall_selected {
    scale: 1.05;
    z-index: 2;

    background-color: white;

    font-weight: 600;
}

.hall-config__size-panel {
    display: grid;
    --control-size: 100px;
    grid-template-columns: var(--control-size) 30px var(--control-size);
    grid-template-rows: auto 1fr;

    grid-auto-flow: column;
}

.hall-config__size-control-hint {
    height: 15px;
    
    font-size: 12px;
    color: #848484;
}

.hall-config__size-control {
    border-radius: 0;
    border: 1px solid #B7B7B7;
    padding: 0.5em;
}
.hall-config__size-control:placeholder {
    color: #B7B7B7;
}
.hall-config__size-control:focus-visible {
    outline: none;
    border: 2px solid black;
}

.hall-config__devider {
    grid-area: span 2 / auto;

    display: flex;
    justify-content: center;
    align-items: end;

    padding-bottom: 7px;
}

.hall-config__seats-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    align-items: center;
}
.hall-config__legend-item {
    display: flex;
    align-items: center;
}
.hall-config__seat {
    width: 30px;
    height: 30px;

    /* border-radius: 20%; */
    border-radius: 4px;

    position: relative;
}
.hall-config__legend-hint {
    color: #848484;
    margin: 0 10px;
}
.hall-config__legend-hint:before {
    content: "- ";
}
.hall-config__mouse-hint {
    margin: 5px 0px 11px;

    color: #848484;
}
.hall-config__seat_standart {
    border: 1.5px solid black;
    background-color: #bbb;
}
.hall-config__seat_vip {
    --r: 10;
    --g: 130;
    --b: 138;

    --tile-col: rgba(var(--r), var(--g), var(--b), 1);
    --size: 0.8px;
    background-color: rgba(var(--r), var(--g), var(--b), 0.2);
    background-image:
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg);
    background-size:
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4);
    background-position-x:
        calc(var(--size) * 0),
        calc(var(--size) * 1),
        calc(var(--size) * 2),
        calc(var(--size) * 3);
    background-position-y:
        calc(var(--size) * 3),
        calc(var(--size) * 2),
        calc(var(--size) * 1),
        calc(var(--size) * 0);

    border: 1.5px solid var(--tile-col);
}
.hall-config__seat_disabled {
    border: 1.5px solid #bbb;
}

.hall-config__seats-manager {
    margin-bottom: 25px;
}

.hall-config__seats-area {
    --columns: 10;
    --seat-size: min(5vw, 25px);

    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(7, 25px); */
    grid-template-columns: repeat(var(--columns), var(--seat-size));
    grid-auto-rows: var(--seat-size);
    gap: 5px;

    padding: 25px 25px 35px;
    /* margin-top: 20px; */

    border: 1.5px solid black;
}
.hall-config__screen {
    letter-spacing: 2em;
    margin-right: -2em;
    text-align: center;
    text-transform: uppercase;

    grid-column: 1 / -1;
}
.hall-config__seats-area .hall-config__seat {
    width: unset;
    height: unset;
    grid-area: span 1 / span 1;
}

.hall-config__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.hall-config__deny-btn,
.hall-config__save-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px 30px;

    border: none;
    cursor: pointer;

    justify-self: center;
}

.hall-config__deny-btn {
    background-color: white;
    color: black;
}