.film {
    width: 100%;
    padding: 15px;
    background-color: #ffffffe6
}

.film__info {
    position: relative;

    display: flex;
    align-items: flex-start
}

.film__title {
    position: relative;
    font-size: 16px;
}
.film__title:before {
    content: "";

    position: absolute;
    top: 0;
    left: -14px;
    
    width: 6px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg width='6' height='14' viewBox='0 0 6 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L6 3V14H0V0Z' fill='%23772720'/%3E%3C/svg%3E%0A");
    background-size: cover;
}

.film__poster {
    width: 125px;
    max-width: 35%;
    aspect-ratio: calc(5 / 7);
    margin-right: 16px;
    object-fit: cover;
    float: left
}

.film__description {
    margin: 8px 0 8px;
    font-size: 14px
}

.film__additional-info {
    font-weight: 300;
    font-size: 14px
}

.film__booking {
    margin: 21px 0 0
}
.film__booking:first-child {
    margin: 0
}

.film__booking-hall {
    font-size: 16px
}

.film__seanses {
    display: grid;
    grid-template-columns: repeat(auto-fill, 53px);
    gap: 5px;
    margin: 6.5px 0 0
}

.film__time {
    padding: 7.8px;

    font-size: 15px;
    text-align: center;
    color: black;
    background-color: #ffffffe6;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;
}