.header__date-bar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px
}

.header__date {
    background-color: #ffffffe6;
    color: black;
    padding: 20px 10px;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;
}

.header__date:hover,
.header__date_current {
    scale: 1.05;

    background-color: white;
    font-weight: 600
}

.header__date:hover {
    z-index: 3;
}
.header__date_current {
    z-index: 2;
}

.header__date_weekend {
    color: red
}