.prices__control-text {
    display: inline-block;
    margin-bottom: 10px;
}

.prices__control-text:nth-of-type(2) {
    margin-top: 40px;
}

.prices__control-text:after {
    content: ":";
}

.prices__hall-selector {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-auto-rows: auto;
    gap: 10px;
}

.prices__hall {
    text-transform: uppercase;
    text-align: center;
    color: black;

    background-color: #eeeeee;

    padding: 10px 20px;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;

    cursor: pointer;
}

.prices__hall_selected {
    scale: 1.05;
    z-index: 2;

    background-color: white;

    font-weight: 600;
}

.prices__price-panel {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 3px;
    align-items: baseline;

    width: fit-content;
}

.prices__input-label {
    grid-column: 1 / -1;
    
    color: gray;
}
.prices__input-label:nth-of-type(2) {
    margin-top: 20px;
}

.prices__price-input {
    width: 100px;

    padding: 0.5em;
    
    border-radius: 0;
    border: 1px solid #B7B7B7;
}
.prices__price-input:placeholder {
    color: #B7B7B7;
}
.prices__price-input:focus-visible {
    outline: none;
    border: 2px solid black;
}

.prices__for {
    color: gray;
    width: fit-content;
}

.prices__seat-legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.prices__seat {
    width: 30px;
    height: 30px;

    border-radius: 20%;

    position: relative;
}
.prices__seat_normal {
    border: 1px solid black;
    background-color: #bbb;
}
.prices__seat_vip {
    --r: 10;
    --g: 130;
    --b: 138;

    --tile-col: rgba(var(--r), var(--g), var(--b), 1);
    --size: 1.2px;
    background-color: rgba(var(--r), var(--g), var(--b), 0.2);
    background-image:
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg),
        conic-gradient(at var(--size) var(--size), transparent 270deg, var(--tile-col) 270deg);
    background-size:
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4),
        calc(var(--size) * 4) calc(var(--size) * 4);
    background-position-x:
        calc(var(--size) * 0),
        calc(var(--size) * 1),
        calc(var(--size) * 2),
        calc(var(--size) * 3);
    background-position-y:
        calc(var(--size) * 3),
        calc(var(--size) * 2),
        calc(var(--size) * 1),
        calc(var(--size) * 0);

    border: 1px solid var(--tile-col);
}

.prices__legend-hint {
    color: gray;
}

.prices__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 30px;
}

.prices__deny-btn,
.prices__save-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px 30px;

    border: none;
    cursor: pointer;

    justify-self: center;
}

.prices__deny-btn {
    background-color: white;
    color: black;
}