.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 500px;

    padding-bottom: 40px;
    margin: 0 auto;

    background-color: #ffffffe6;

    --form-item-width: 200px;
}

.login-form__heading {
    width: 100%;
    padding: 1em;

    margin-bottom: 1.5em;

    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #63536C;
}

.login-form__label {
    width: var(--form-item-width);

    color: gray;
    font-size: 14px;
}

.login-form__input {
    width: var(--form-item-width);

    margin-bottom: 10px;
}

.login-form__input {
    border-radius: 0;
    border: 2px solid gray;
    padding: 0.5em;
}
.login-form__input:placeholder {
    color: gray;
}
.login-form__input:focus-visible {
    outline: none;
    border: 2px solid black;
}

.login-form__submit-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;

    border: none;
    cursor: pointer;

    align-self: center;
}

.login-form__submit-btn {
    margin-top: 2em;
}