.halls-tab {
    display: flex;
    flex-direction: column;
}

.halls-tab__heading {
    margin: 0;
}

.halls-tab__list {
    list-style-type: none;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.halls-tab__item {
    display: flex;
    align-items: center;

    font-size: 18px;
}

.halls-tab__item:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 10px;

    margin-right: 10px;
    background: linear-gradient(0deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%);
}

.halls-tab__item-name {
    margin-right: 10px;

    /* font-weight: 600; */
    line-height: 1;
}

.halls-tab__delete-item {
    width: 0.9em;
    height: 0.9em;
    
    border: none;
    border-radius: 20%;
    
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='73' height='74' viewBox='0 0 73 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.3616 71.2998H12.3181L6.66593 22.4248H66.0138L60.3616 71.2998Z' fill='%2367526D'/%3E%3Cpath d='M6.66593 8.0498L3.83984 13.7998H68.8398L66.0138 8.0498H51.8833L49.0572 2.2998H23.6225L20.7964 8.0498H6.66593Z' fill='%2367526D'/%3E%3Cpath d='M60.3616 71.2998H12.3181L6.66593 22.4248H66.0138L60.3616 71.2998Z' stroke='%2367526D' stroke-width='4'/%3E%3Cpath d='M6.66593 8.0498L3.83984 13.7998H68.8398L66.0138 8.0498H51.8833L49.0572 2.2998H23.6225L20.7964 8.0498H6.66593Z' stroke='%2367526D' stroke-width='4'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;

    font-size: inherit;

    cursor: pointer;
}

.halls-tab__add-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px 30px;

    border: none;
    cursor: pointer;

    align-self: start;
}

@media(max-width:390px) {
    .halls-tab__add-btn {
        align-self: center;
    }
}