/* ------------------------- */
/* --------- preps --------- */
/* ------------------------- */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative
}

* {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.shadow {
    box-shadow: 0 2px 2px #00000088
}

a,
a:visited {
    text-decoration: none
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%
}

body:before {
    content: "";

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-color: #C76F00;
    background-image: url('./assets/img/user_background_mobile.png');
    /* background-image: url('./assets/img/user_background_mobile.png'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat
}

@media (min-width:768px) {
    body:before {
        background-image: url('./assets/img/user_background_tablet.png')
    }
}

@media (min-width:1200px) {
    body:before {
        background-image: url('./assets/img/user_background_desktop.png')
    }
}

/* -------------------------- */
/* --------- header --------- */
/* -------------------------- */

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 14px
}

.header__logo {
    background-image: url("data:image/svg+xml,%3Csvg width='210' height='37' viewBox='0 0 210 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.33789 22.085L15.0205 6.82812H20.8477V31H15.0205V15.7598L6.33789 31H0.510742V6.82812H6.33789V22.085Z' fill='white'/%3E%3Cpath d='M44.04 26.5176V31H27.0566V26.5176H44.04ZM28.9824 26.5176V36.9268H23.5869L23.1885 26.5176H28.9824ZM48.0078 26.5176L47.3936 36.9434H42.1641V26.5176H48.0078ZM41.5 6.82812V11.3271H29.3643V6.82812H41.5ZM45.418 6.82812V31H39.624V6.82812H45.418ZM28.9824 6.82812H34.793L34.0791 16.7393C33.9574 18.4326 33.7637 19.9046 33.498 21.1553C33.2324 22.4059 32.917 23.485 32.5518 24.3926C32.1865 25.3001 31.7881 26.0804 31.3564 26.7334C30.9248 27.3864 30.471 27.9564 29.9951 28.4434C29.5303 28.9303 29.0654 29.373 28.6006 29.7715C28.1357 30.1699 27.6875 30.5794 27.2559 31H23.7197V26.5176H24.8818C25.2249 26.2741 25.568 25.9476 25.9111 25.5381C26.2653 25.1175 26.5973 24.5475 26.9072 23.8281C27.2171 23.1087 27.4883 22.1735 27.7207 21.0225C27.9531 19.8714 28.1302 18.4437 28.252 16.7393L28.9824 6.82812Z' fill='white'/%3E%3Cpath d='M66.6514 26.5176V31H53.7686V26.5176H66.6514ZM55.8438 6.82812V31H50.0166V6.82812H55.8438ZM64.9912 16.4238V20.7568H53.7686V16.4238H64.9912ZM66.7012 6.82812V11.3271H53.7686V6.82812H66.7012ZM52.0088 3.19238C52.0088 2.57259 52.2578 2.05241 52.7559 1.63184C53.2539 1.2002 53.8405 0.984375 54.5156 0.984375C55.2018 0.984375 55.7884 1.2002 56.2754 1.63184C56.7734 2.05241 57.0225 2.57259 57.0225 3.19238C57.0225 3.81217 56.7734 4.33789 56.2754 4.76953C55.7884 5.1901 55.2018 5.40039 54.5156 5.40039C53.8405 5.40039 53.2539 5.1901 52.7559 4.76953C52.2578 4.33789 52.0088 3.81217 52.0088 3.19238ZM60.625 3.19238C60.625 2.57259 60.874 2.05241 61.3721 1.63184C61.8701 1.2002 62.4567 0.984375 63.1318 0.984375C63.818 0.984375 64.4046 1.2002 64.8916 1.63184C65.3896 2.05241 65.6387 2.57259 65.6387 3.19238C65.6387 3.81217 65.3896 4.33789 64.8916 4.76953C64.4046 5.1901 63.818 5.40039 63.1318 5.40039C62.4567 5.40039 61.8701 5.1901 61.3721 4.76953C60.874 4.33789 60.625 3.81217 60.625 3.19238Z' fill='white'/%3E%3Cpath d='M71.9307 6.82812H76.6787L82.0742 23.6455L87.4697 6.82812H92.2178L84 31H80.1484L71.9307 6.82812ZM69.042 6.82812H73.9561L74.8691 25.3555V31H69.042V6.82812ZM90.1924 6.82812H95.123V31H89.2793V25.3555L90.1924 6.82812Z' fill='white'/%3E%3Cpath d='M108.388 19.0635H100.884L100.851 18.167H107.026C108.487 18.167 109.71 17.9788 110.695 17.6025C111.691 17.2262 112.438 16.6507 112.937 15.876C113.435 15.1012 113.684 14.1273 113.684 12.9541C113.684 11.792 113.418 10.8236 112.887 10.0488C112.367 9.27409 111.586 8.69303 110.546 8.30566C109.517 7.91829 108.233 7.72461 106.694 7.72461H101.232V31H100.336V6.82812H106.694C107.912 6.82812 109.007 6.94987 109.981 7.19336C110.955 7.43685 111.785 7.81315 112.472 8.32227C113.158 8.83138 113.684 9.47884 114.049 10.2646C114.414 11.0394 114.597 11.958 114.597 13.0205C114.597 14.0166 114.409 14.9131 114.032 15.71C113.667 16.5068 113.13 17.1543 112.422 17.6523C111.714 18.1504 110.839 18.4548 109.799 18.5654L108.388 19.0635ZM108.222 31H100.851L101.133 30.1035H108.222C109.583 30.1035 110.751 29.8766 111.725 29.4229C112.71 28.9691 113.468 28.3161 113.999 27.4639C114.53 26.6006 114.796 25.5713 114.796 24.376C114.796 23.4463 114.558 22.5775 114.082 21.7695C113.617 20.9616 112.909 20.3086 111.957 19.8105C111.005 19.3125 109.815 19.0635 108.388 19.0635H104.47L104.503 18.167H110.23L110.297 18.4824C111.315 18.6042 112.228 18.9417 113.036 19.4951C113.855 20.0485 114.503 20.7513 114.979 21.6035C115.454 22.4447 115.692 23.3577 115.692 24.3428C115.692 25.7705 115.371 26.9824 114.729 27.9785C114.099 28.9635 113.224 29.7161 112.106 30.2363C110.989 30.7454 109.694 31 108.222 31Z' fill='white'/%3E%3Cpath d='M125.155 6.82812V31H119.345V6.82812H125.155ZM139.101 6.82812L130.418 21.4375H124.143L123.445 16.1748H127.413L132.062 6.82812H139.101ZM133.058 31L127.396 20.4248L131.63 16.5234L139.931 31H133.058Z' fill='white'/%3E%3Cpath d='M146.887 22.085L155.569 6.82812H161.396V31H155.569V15.7598L146.887 31H141.06V6.82812H146.887V22.085Z' fill='white'/%3E%3Cpath d='M181.252 16.4238V20.9062H168.851V16.4238H181.252ZM170.793 6.82812V31H164.966V6.82812H170.793ZM185.17 6.82812V31H179.359V6.82812H185.17Z' fill='white'/%3E%3Cpath d='M209.325 18.4326V19.4121C209.325 21.2604 209.065 22.9206 208.545 24.3926C208.036 25.8535 207.311 27.1042 206.37 28.1445C205.429 29.1738 204.317 29.9652 203.033 30.5186C201.749 31.0609 200.333 31.332 198.783 31.332C197.223 31.332 195.795 31.0609 194.5 30.5186C193.216 29.9652 192.098 29.1738 191.146 28.1445C190.206 27.1042 189.475 25.8535 188.955 24.3926C188.446 22.9206 188.191 21.2604 188.191 19.4121V18.4326C188.191 16.5843 188.446 14.9242 188.955 13.4521C189.475 11.9801 190.2 10.7295 191.13 9.7002C192.071 8.65983 193.183 7.86849 194.467 7.32617C195.762 6.77279 197.189 6.49609 198.75 6.49609C200.299 6.49609 201.716 6.77279 203 7.32617C204.295 7.86849 205.413 8.65983 206.354 9.7002C207.294 10.7295 208.025 11.9801 208.545 13.4521C209.065 14.9242 209.325 16.5843 209.325 18.4326ZM203.415 19.4121V18.3994C203.415 17.2041 203.31 16.1527 203.1 15.2451C202.9 14.3265 202.602 13.5573 202.203 12.9375C201.805 12.3177 201.312 11.8529 200.726 11.543C200.15 11.222 199.492 11.0615 198.75 11.0615C197.975 11.0615 197.3 11.222 196.725 11.543C196.149 11.8529 195.668 12.3177 195.28 12.9375C194.893 13.5573 194.6 14.3265 194.4 15.2451C194.212 16.1527 194.118 17.2041 194.118 18.3994V19.4121C194.118 20.5964 194.212 21.6478 194.4 22.5664C194.6 23.474 194.893 24.2432 195.28 24.874C195.679 25.5049 196.166 25.9808 196.741 26.3018C197.328 26.6227 198.008 26.7832 198.783 26.7832C199.525 26.7832 200.183 26.6227 200.759 26.3018C201.334 25.9808 201.816 25.5049 202.203 24.874C202.602 24.2432 202.9 23.474 203.1 22.5664C203.31 21.6478 203.415 20.5964 203.415 19.4121Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 215px;
    height: 40px
}

.header__log-in {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px
}

.header__date-bar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px
}

.header__date {
    background-color: #ffffffe6;
    color: black;
    padding: 20px 10px;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;
}

.header__date_current:hover,
.film__time:hover {
    scale: 1.05;
    z-index: 2;

    background-color: white;
    font-weight: 600
}

.header__date_weekend {
    color: red
}

/* ------------------------- */
/* --------- films --------- */
/* ------------------------- */

.films {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.film {
    width: 100%;
    padding: 30px;
    background-color: #ffffffe6
}

.film__info {
    position: relative;

    display: flex;
    align-items: flex-start
}

.film__title {
    position: relative;
}
.film__title:before {
    content: "";

    position: absolute;
    top: 0;
    left: -17px;
    
    width: 6px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg width='6' height='14' viewBox='0 0 6 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L6 3V14H0V0Z' fill='%23772720'/%3E%3C/svg%3E%0A");
    background-size: cover;
}

.film__poster {
    width: 210px;
    max-width: 35%;
    aspect-ratio: 0.75;
    margin-right: 20px;
    object-fit: cover;
    float: left
}

.film__additional-info {
    color: gray
}

.film__booking {
    margin: 20px 0
}

.film__seanses {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 5px;
    margin: 10px 0 0
}

.film__time {
    text-align: center;
    background-color: #ffffffe6;
    color: black;
    padding: 5px;
    border-radius: 3px;

    --duration: 0.1s;
    transition:
        var(--duration) linear font-weight,
        var(--duration) linear background-color,
        var(--duration) linear scale;
}

/* ------------------------ */
/* --------- hall --------- */
/* ------------------------ */

.hall {
    background-color: #ffffffe6
}

.hall__info {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.hall__mobile-hint {
    display: flex;
}

@media(min-width:1000px) {
    .hall__mobile-hint {
        display: none
    }
}

.hall__tap-icon {
    width: 30px;
    object-fit: contain
}

.hall__mobile-hint-text {
    width: 75px;
    text-align: center
}

.hall__seanse-starts-at {
    display: block;
    margin-top: 20px
}

.hall__name {
    margin-top: 10px
}

/* ----- hall__seat-manager ----- */

.hall__seats-manager {
    background-color: #072d30;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --seat-size: 30px
}

.hall__seats-manager * {
    width: min(100%, 400px)
}

.hall__screen {
    position: relative;

    padding: 0.4em 0 1.2em;

    background-size: 100% 100%;
    background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="none" width="152" height="16" viewBox="0 0 152 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M151 5C127.246 2.39797 102.069 1 76 1C49.9307 1 24.7542 2.39797 1 5V15C24.7542 12.398 49.9307 11 76 11C102.069 11 127.246 12.398 151 15V5Z" stroke="%238E8E8E"/%3E%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-position: center;

    color: #8E8E8E;
    display: inline-block;
    text-align: center
}

.hall__seats {
    display: grid;
    grid-template-columns: repeat(5, var(--seat-size));
    grid-auto-rows: 1fr;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px 0
}

.hall__seat,
.hall__icon-seat {
    width: var(--seat-size);
    height: var(--seat-size);
    border-radius: 20%;
    box-shadow: 0 0 3px white
}

.hall__seat {
    cursor: pointer
}

.hall__seat_occupied {
    cursor: default
}

.hall__seat_available,
.hall__icon-seat_available {
    background-color: white
}

.hall__seat_vip,
.hall__icon-seat_vip {
    background-color: #C76F00
}

.hall__seat_chosen,
.hall__icon-seat_chosen {
    background-color: #16A6AF
}

.hall__legend {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px
}

.hall__legend-item {
    display: flex;
    align-items: center;
    gap: 10px
}

.hall__icon-seat {
    width: unset;
    height: 100%;
    aspect-ratio: 1;
}

.hall__legend-item-text {
    color: white
}

.hall__confirm-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0
}

.hall__confirm-booking {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    cursor: pointer
}

/* ------------------------------------ */
/* --------- payment & ticket --------- */
/* ------------------------------------ */

.ticket-border {
    --img100: url("image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M88.0107 0C88.2667 6.50587 93.4941 11.7323 100 11.9883V87.0107C93.3283 87.2732 88 92.7639 88 99.5C88 99.6675 88.0042 99.8341 88.0107 100H62.9893C62.9958 99.8341 63 99.6675 63 99.5C63 92.5964 57.4036 87 50.5 87C43.5964 87 38 92.5964 38 99.5C38 99.6675 38.0042 99.8341 38.0107 100H12.9893C12.9958 99.8341 13 99.6675 13 99.5C13 92.5964 7.40356 87 0.5 87C0.332532 87 0.165869 87.0042 0 87.0107V11.9883C0.165881 11.9948 0.332519 12 0.5 12C7.23609 12 12.7268 6.67175 12.9893 0H38.0107C38.2732 6.67175 43.7639 12 50.5 12C57.2361 12 62.7268 6.67175 62.9893 0H88.0107Z' fill='white' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
    --img100: url("image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M88.0107 0C88.2667 6.50587 93.4941 11.7323 100 11.9883V87.0107C93.3283 87.2732 88 92.7639 88 99.5C88 99.6675 88.0042 99.8341 88.0107 100H62.9893C62.9958 99.8341 63 99.6675 63 99.5C63 92.5964 57.4036 87 50.5 87C43.5964 87 38 92.5964 38 99.5C38 99.6675 38.0042 99.8341 38.0107 100H12.9893C12.9958 99.8341 13 99.6675 13 99.5C13 92.5964 7.40356 87 0.5 87C0.332532 87 0.165869 87.0042 0 87.0107V11.9883C0.165881 11.9948 0.332519 12 0.5 12C7.23609 12 12.7268 6.67175 12.9893 0H38.0107C38.2732 6.67175 43.7639 12 50.5 12C57.2361 12 62.7268 6.67175 62.9893 0H88.0107Z' fill='white' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
    border-image: var(--img100) 25 fill / 5px round
}

.ticket__heading,
.payment__heading {
    font-size: 22px;
    text-transform: uppercase;
    padding: 25px 15px;
    color: #C76F00;
}

.ticket__content,
.payment__content {
    padding: 25px 20px 35px;
    display: flex;
    flex-direction: column
}

.ticket__info-row:nth-child(n + 2),
.payment__info-row:nth-child(n + 2) {
    margin-top: 10px
}

.ticket__data-name:after,
.payment__data-name:after {
    content: ":";
    display: inline
}

.ticket__data,
.payment__data {
    font-weight: 600
}

.ticket__get-qr-btn,
.payment__get-qr-btn {
    background-color: #16A6AF;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    cursor: pointer;
    align-self: center;
    margin: 30px 0
}

.ticket__additional,
.payment__additional {
    color: gray;
    margin: 0
}

.ticket__additional {
    color: black
}

.ticket__additional:nth-of-type(2),
.payment__additional:nth-of-type(2) {
    margin-top: 10px
}

.ticket__qr {
    width: min(250px, 75%);
    margin: 30px 0;
    align-self: center
}

/* ------------------------------- */
/* --------- final preps --------- */
/* ------------------------------- */

.hidden {
    display: none
}

.hidden2 {
    width: 0;
    height: 0;
    scale: 0;
    position: absolute;
    left: -9999999px;
    top: -9999999px
}